html {
    background-color:magenta;
}

header, table {
    font-family: Arial;
    color: white;
}

header {
    background-color: darkmagenta;
}

table, th, tr, td {
    border-style: groove;
    background-color: darkmagenta;
    border-color: black;
}

.tag {
    font-family: monospace;
    font-size: 14px;
}

